body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff9b;
}

@font-face {
    font-family: "hanson";
    src: url(../font/Hanson\ Bold\ 700.otf) format()('opentype');
    font-weight: bold;
    font-style: normal;
}

.cheader {
    height: 100px;
    width: 100%;
    background-color: white;
    font-size: 60px;
    margin-bottom: 55px;
    /* ALTERAR FONTES DE SUBTITULO */
}

.linkbtb {
    color: black;
    text-decoration: none;
}

.navbar {
    height: 60px;
}

li>a {
    font-family: "hanson";
    color: black;
    font-size: 24px;
}

a:hover {
    text-decoration: none;
    color: black;
}

.textoheader {
    height: 60px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-size: 55px;
    font-family: "hanson";
    font-weight: bold;
    font-style: normal;

}

.containerrodape a {
    text-decoration: none;
    color: black;
}



.containerrodape {
    margin-top: 160px;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.containerrodape>div {
    margin-left: 50px;
    width: 20%;
    height: 150px;

}

.containerrodape>div>p {
    font-family: "hanson";
    font-weight: bold;
    font-style: normal;
    font-size: 33px;
}

.divrodape {
    margin-top: -55px;
    display: flex;
    justify-content: flex-start;
    margin-left: 6%;
    height: 100px;
    width: 90%;

}