body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff9b;
}

@font-face {
    font-family: "hanson";
    src: url(../font/Hanson\ Bold\ 700.otf) format()('opentype');
    font-weight: bold;
    font-style: normal;
}

.cheader {
    height: 100px;
    width: 100%;
    background-color: white;
    margin-bottom: 55px;
    /* ALTERAR FONTES DE SUBTITULO */
}

.navbar {
    background-color: white;
    font-size: 25px;
}

.containerNovaColecao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 94%;
    margin-left: 3%;

}

.containerNovaColecao>div {
    background-color: rgb(191, 191, 191);
    height: 350px;
    width: 24%;
    border: solid 6px white;

}

.containerDestaques {
    margin-left: 3%;
    width: 94%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.containerDestaques>div {
    background-color: rgb(52, 52, 52);
    height: 280px;
    width: 20%;
}

.textoheader {
    font-size: 55px;
    font-family: "hanson";
    font-weight: bold;
    font-style: normal;

}

.linkbtb {
    color: black;
    text-decoration: none;
}

.carousel-inner>div>img {
    height: 650px;
    width: 100%;

}

.navbar {
    height: 50px;
}


.txtnovacolecao,
.txtconfiradestaques {
    margin-top: 20px;
    font-family: "hanson";
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
}

.containerrodape a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.containerrodape {
    margin-top: 160px;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.containerrodape>div {
    margin-left: 50px;
    width: 20%;
    height: 150px;

}

.containerrodape>div>p {
    font-family: "hanson";
    font-weight: bold;
    font-style: normal;
    font-size: 33px;
}

.divrodape {
    margin-top: -55px;
    display: flex;
    justify-content: flex-start;
    margin-left: 6%;
    height: 100px;
    width: 90%;

}