@font-face {
    font-family: "hanson";
    src: url(../font/Hanson\ Bold\ 700.otf) format()('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #c0c0c09b;
}

.txtheader {
    font-family: "hanson";
    font-weight: bold;
    font-style: normal;
    height: 75px;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    font-size: 47px;
}

.txtheader a {
    text-decoration: none;
    color: white;
}


.containerCentral>div{
    display: inline-block;
    margin-left: 30px;
}

.containerCentral {
    padding-top: 8%;
    margin-left: 25%;
    width: 50%;
    height: 500px;
    border: solid black 1px;
    border-radius: 15px;
    background-color: #f7f7f79b;
    margin-top: 30px;  
}


.containerrodape a {
    text-decoration: none;
    color: black;
}

.containerrodape {
    margin-top: 160px;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.containerrodape>div {
    margin-left: 50px;
    width: 20%;
    height: 150px;

}

.containerrodape>div>p {
    font-family: "hanson";
    font-weight: bold;
    font-style: normal;
    font-size: 33px;
}

.divrodape {
    margin-top: -55px;
    display: flex;
    justify-content: flex-start;
    margin-left: 6%;
    height: 100px;
    width: 90%;

}

.classcadatro {
    font-family: "hanson";
    font-weight: bold;
    font-style: normal;
    font-size: 45px;
}