@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

.divImagemLogo {


    display: flex;
    justify-content: center;
    margin-top: 10%;

}



.divHeader {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: black;
    color: white;
    align-content: center;
    align-items: center;
    font-size: 48px;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}



.containerPrincipal {
    margin-left: 25%;
    display: flex;
    margin-top: -10%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 500px;
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: bolder;
    margin-bottom: -5%;
    flex-wrap: wrap;

}

.textoinput {
    text-align: left;
    margin-left: 30%;
    width: 40%;
    font-size: 1.2rem;
    margin-bottom: 3%;
}

.containerPrincipal>img {}

.botaoEntrar {
    margin-left: 40%;
    height: 50px;
    width: 20%;
    display: flex;
    justify-content: space-between;
}

@media (max-width:600px) {

    .containerPrincipal {

        margin-bottom: -18%;

    }

    .botaoEntrar {
        margin-left: 30%;
        height: 50px;
        width: 40%;
    }

}


#iemail,
#isenha {
    border: 1px solid black;
    height: 40px;
    width: 40.5%;

}

#isenha {
    margin-top: 1%;
}

#iqualsenha {
    margin-top: 5%;
}