body {
    margin: 0px;
    padding: 0px;
    background-color: #c0c0c09b;
}

.txtheader {
    padding-top: 5px;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    font-size: 47px;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 55px;
    font-family: "hanson";
    font-weight: bold;
    font-style: normal;


}


.botaoes {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#botaocarrinho {

    margin-left: 20px;
}


.txtheader a {
    text-decoration: none;
    color: white;

}

#preview {
    align-items: center;
    display: flex;
    justify-content: center;

}

#preview>div {
    padding-top: 25px;
    background-color: rgba(255, 255, 255, 0.674);
    border: 1px solid white;
    border-radius: 9px;
    align-items: center;
    margin-top: 2.5%;
    height: 610px;
    width: 700px;
}

#preview>div>img {
    width: 700px;
    height: 500px;
}

@media screen and (min-width:1080px) {
    .containerrodape {
        margin-top: 100px;
        height: 250px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .containerrodape>div {
        margin-left: 50px;
        width: 20%;
        height: 150px;

    }

    .containerrodape>div>a {
        text-decoration: none;
        color: black;
    }

    .imagemrodape>a {
        text-decoration: none;
        color: black;

    }

    .containerrodape>div>p {
        font-family: "hanson";
        font-weight: bold;
        font-style: normal;
        font-size: 33px;
    }

}

@media screen and (max-width:479px) {

    .linkbtb {
        margin-top: 20px;
        font-size: 23px;
    }

    .txtheader {
        padding-top: 10px;
        height: 70px;
        font-size: 30px;
    }

    .containerrodape>div {

        width: 20%;
        height: 100px;
    }

    #iacess {
        color: white;
    }

    .containerrodape>div>p {
        font-family: "hanson";
        font-weight: bold;
        font-style: normal;
        font-size: 11px;
    }

    .containerrodape {
        margin-top: 10px;
        display: flex;
        justify-content: center;

    }

}