body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff9b;
}

@font-face {
    font-family: "hanson";
    src: url(../font/Hanson\ Bold\ 700.otf) format()('opentype');
    font-weight: bold;
    font-style: normal;

}

.navbar {
    height: 10px;
}

li>a {
    font-family: "hanson";
    color: black;
    font-size: 24px;
}

li>a:hover {
    color: rgb(249, 108, 0);
}

.cheader {
    height: 100px;
    width: 100%;
    margin-bottom: 60px;
}


.textoheader {
    margin-left: 15%;
    width: 70%;
    height: 60px;
    display: flex;
    justify-content: center;
    font-size: 35.519px;
    font-family: "hanson";
    font-weight: bold;
    font-style: normal;
    align-items: center;
    text-align: center;
    position: relative;
}

#ibuscar {
    border: #d3d3d3;
    background-color: #d3d3d3;
}

.diviconelogin {
    margin-left: 72%;
    width: 25%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 4%;
    right: 2%;
}

.imglogintam {
    width: 25px;
    height: 25px;
}

.linkbtb {
    margin-top: 20px;
    color: black;
    text-decoration: none;
}

.linkbtb:hover {
    color: black;
    text-decoration: none;
}

.carousel-inner>div>img {
    height: 650px;
    width: 100%;

}

.ientrar {
    text-decoration: none;
    color: black;
}

.ientrar:hover {
    color: rgb(255, 128, 0);
}

.txtnovacolecao,
.txtconfiradestaques {
    margin-top: 20px;
    font-family: "hanson";
    font-weight: bold;
    font-style: normal;
    font-size: 30px;

}

.espaco {
    margin-right: 15px;
}

.containerrodape a {
    text-decoration: none;
    color: black;
}


.containerrodape {
    margin-top: 160px;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.containerrodape>div {
    width: 20%;
    height: 150px;

}

.containerrodape>div>p {
    font-family: "hanson";
    font-weight: bold;
    font-style: normal;
    font-size: 33px;
}

.divrodape {
    margin-top: -55px;
    display: flex;
    justify-content: flex-start;
    margin-left: 6%;
    height: 100px;
    width: 90%;

}

@media screen and (max-width:420px) {
    .diviconelogin {
        width: 90%;
        display: flex;
        justify-content: space-around;
        position: absolute;
        top: 6.5%;
        right: 5%;
    }

    #ibuscar {
        margin-right: 13%;
        width: 190px;
    }

    .imglogintam {
        width: 25px;
        height: 25px;
    }


    li>a {
        font-family: "hanson";
        color: black;
        font-size: 14px;
    }

    li>a:hover {
        color: rgb(249, 108, 0);
    }

    .cheader {
        display: inline-block;
        height: 100px;
        width: 100%;
        margin-bottom: 30px;
    }


    .linkbtb {
        margin-top: 10px;
        font-size: 22px;
    }

    .carousel-inner>div>img {
        height: 300px;
        width: 100%;

    }

    .containerNovaColecao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5%;
        width: 90%;

    }

    .containerNovaColecao>div {
        background-color: rgb(191, 191, 191);
        height: 300px;
        width: 80%;
        border: solid 6px white;
        margin-left: 10%;
    }


    .txtnovacolecao,
    .txtconfiradestaques {
        font-size: 20px;
    }

    .containerDestaques {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    .containerDestaques>div {

        background-color: rgb(52, 52, 52);
        height: 280px;
        width: 90%;
        margin-left: 5%;
        margin-top: 10px;
    }

    .containerDestaques>div>img {
        height: 100%;
        width: 100%;

    }

    .containerrodape>div {
        width: 22.3%;
        height: 100px;
    }

    .containerrodape>div>p {
        font-family: "hanson";
        font-weight: bold;
        font-style: normal;
        font-size: 10px;
    }

    .containerrodape {
        margin-top: 6px;
        display: flex;
        justify-content: center;
        font-size: 10px;
    }

}

@media screen and (min-width:1080px) {


    .containerNovaColecao {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 94%;
        margin-left: 3%;

    }

    .containerNovaColecao>div {
        background-color: rgb(191, 191, 191);
        height: 350px;
        width: 24%;
        border: solid 6px white;

    }


    .containerDestaques {
        margin-left: 3%;
        width: 94%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .containerDestaques>div {
        background-color: rgb(52, 52, 52);
        height: 280px;
        width: 20%;
    }

    .containerrodape {
        margin-top: 160px;
        height: 250px;
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .containerrodape>div {
        margin-left: 50px;
        width: 20%;
        height: 150px;

    }

    .containerrodape>div>p {
        font-family: "hanson";
        font-weight: bold;
        font-style: normal;
        font-size: 33px;
    }
}