body {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff9b;

}

.cheader {
    height: 100px;
    width: 100%;
    background-color: white;
}

.navbar {
    background-color: white;
    font-size: 25px;
}

.textoheader {
    margin-left: 38%;
    font-size: 55px;
    font-family: "hanson";
    font-weight: bold;
    font-style: normal;

}

.navbar {
    height: 0px;
}

@font-face {
    font-family: "hanson";
    src: url(../font/Hanson\ Bold\ 700.otf) format()('opentype');
    font-weight: bold;
    font-style: normal;
}