.sobrenoscontainer {
    height: 700px;
    margin-left: 15%;
    width: 70%;
}

.txtheader {
    padding-top: 10px;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    font-size: 47px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 55px;
    font-family: "hanson";
    font-weight: bold;
    font-style: normal;


}

@font-face {
    font-family: "hanson";
    src: url(../font/Hanson\ Bold\ 700.otf) format()('opentype');
    font-weight: bold;
    font-style: normal;
}

.itutulo {
    text-align: center;
    font-family: "hanson";
    font-size: 25px;

}

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.txtheader a {
    text-decoration: none;
    color: white;

}

@media screen and (max-width:479px) {
    .txtheader {
        font-size: 35px;
    }

    .containerrodape>div {

        width: 20%;
        height: 100px;
    }

    .containerrodape>div>p {
        font-family: "hanson";
        font-weight: bold;
        font-style: normal;
        font-size: 11px;
    }

    .containerrodape {
        margin-top: 1000px;
        display: flex;
        justify-content: center;

    }
}

@media screen and(min-width:1080px) {
    .containerrodape {
        margin-top: 130px;
        height: 250px;
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .containerrodape>div {
        margin-left: 50px;
        width: 20%;
        height: 150px;

    }

    .containerrodape>div>p {
        font-family: "hanson";
        font-weight: bold;
        font-style: normal;
        font-size: 33px;
    }

}